.showcase{
    position: absolute;
     right: 0; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: #fff; 
     color: black; 
     z-index: 2; 
    transition: 0.8s;

} 

.header{
    height: 100px;
    width: 100%;
    background-color:rgb(8, 146, 15);
    /* padding-top:20px ;
    padding-left: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.header.active{
    right: 300px;

}
.toggle{
    position: relative;
    width: 60px;
    height: 100px;
     background-image: url(./rheedaimages/menu.png);
    background-repeat:no-repeat ;
    background-size: 40px;
    background-position: center; 
    padding-right:80px ;
    cursor: pointer;


}
.toggle.active {
    background-image: url(./rheedaimages/close.png);
    background-repeat:no-repeat ;
    background-size: 25px;
    background-position: center; 
    

} 
.showcase.active{
    right: 300px;

}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu ul{
    position: relative;
    list-style: none;
    
}


.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: 0.3s;
}
.menu ul li a:hover {
    color:rgb(8, 146, 15);

}
.items{
   padding-top:30px ; 
}
